node_modules
.DS_Store
Can.png
Can-mobile.png
Logo-mobile.svg
Logo.svg
Profile-photo.png
Email-icon.svg
Email-copy.svg
LinkedIn-icon.svg
Linkedin-link.svg
Github-icon.svg
Background-01.jpg
Background-02.jpg
Background-03.jpg
Animated.svg