* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("Background-01.jpg");
  background-size: 100vw;
  background: cover repeat fixed;
  color: #fff8ed;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.navbar {
  padding: 1.25rem 17vw 0 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__img {
  width: 20rem;
  height: auto;
}

.navbar a {
  text-decoration: none;
  color: #fee5be;
  padding-left: 1.5rem;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-size: 4.63rem;
  padding-top: 5.50rem;
  font-weight: 700;
  background: -webkit-linear-gradient(315deg, #ff7144, #ff7144, #ff7144, #ffc83e, #ffc83e, #ffc83e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-form {
  margin: 0.94rem 28.5vw 0 28.5vw;
  padding: 2.50rem 3rem;
  background-color: rgba(32, 44, 66, 0.61);
  -webkit-box-shadow: 0px 0px 50px 5px #192131;
          box-shadow: 0px 0px 50px 5px #192131;
  border-radius: 7px;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.note-form__title-input {
  display: block;
  margin-bottom: 1.25rem;
  margin-top: 0.81rem;
  height: 3.13rem;
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: #1a2334;
  -webkit-box-shadow: 0px 0px 50px 0px #161e2d inset;
          box-shadow: 0px 0px 50px 0px #161e2d inset;
  color: #fee5be;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 0 1.25rem 0 1.25rem;
}

.note-form__text-input {
  display: block;
  margin-bottom: 1.25rem;
  margin-top: 0.63rem;
  min-height: 12rem;
  width: 100%;
  border-radius: 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 1.25rem;
  background-color: #1a2334;
  -webkit-box-shadow: 0px 0px 50px 0px #161e2d inset;
          box-shadow: 0px 0px 50px 0px #161e2d inset;
  resize: vertical;
  border: none;
  color: #fee5be;
  z-index: 10;
  position: relative;
}

.note-form__last-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note-form__tag-input {
  margin-top: 0.81rem;
  height: 3.13rem;
  width: 45%;
  border-radius: 7px;
  background-color: #1a2334;
  -webkit-box-shadow: 0px 0px 50px 0px #161e2d inset;
          box-shadow: 0px 0px 50px 0px #161e2d inset;
  border: none;
  color: #fee5be;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 0 1.25rem 0 1.25rem;
}

.note-form__submit-btn {
  background: linear-gradient(95deg, #ff7144, #ffc83e);
  font-size: 1.44rem;
  color: #1a2334;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  height: 3.13rem;
  padding: 0.44rem 1.6rem 0.4rem 1.6rem;
  margin-top: 0.81rem;
  border-radius: 7px;
  border: none;
  z-index: 4;
  cursor: pointer;
}

.note-form__can-img1 {
  position: absolute;
  opacity: 0.6;
  width: 47.25rem;
  height: auto;
  left: 35rem;
  top: 17rem;
  z-index: 1;
  mix-blend-mode: multiply;
}

.note-form__can-img2 {
  position: absolute;
  opacity: 0.8;
  width: 47.25rem;
  height: auto;
  left: 35rem;
  top: 17rem;
  z-index: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 7.25rem;
  color: #fff8ed;
  margin-left: 16.5vw;
}

main {
  margin: 0.88rem 16.5vw 0 16.5vw;
  padding: 2.50rem 8.13rem;
  background-color: rgba(32, 44, 66, 0.61);
  -webkit-box-shadow: 0px 0px 50px 5px #192131;
          box-shadow: 0px 0px 50px 5px #192131;
  border-radius: 7px;
}

main .searchbar-form {
  text-align: end;
}

main .searchbar-form__search-input {
  height: 3.06rem;
  width: 31%;
  background-color: #1a2334;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 50px 0px #161e2d inset;
          box-shadow: 0px 0px 50px 0px #161e2d inset;
  border: none;
  color: #fee5be;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 0 1.25rem 0 1.25rem;
}

main .searchbar-form__submit-btn {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 0.75rem 3.3rem;
  border: double 0.2rem transparent;
  border-radius: 7px;
  background: linear-gradient(95deg, #ff7144, #ffc83e) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: 1;
  margin-left: 1.31rem;
}

main .searchbar-form__btn-text {
  position: absolute;
  left: 75.1rem;
  margin-top: 0.7rem;
  font-size: 1.13rem;
  font-weight: 600;
  color: #fff8ed;
  z-index: 10;
}

main .notes-container__div__p-text {
  color: blueviolet;
}
/*# sourceMappingURL=main.css.map */