$input: #1a2334;
$box-shadow: #192131;
$field: rgba(32, 44, 66, 0.61);
$text: #fee5be;
$white-text: #fff8ed;
$title: #ff7144;
$gradient: 95deg, #ff7144, #ffc83e;
$text-gradient: 315deg, #ff7144, #ff7144, #ff7144, #ffc83e, #ffc83e, #ffc83e;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("Background-01.jpg");
	background-size: 100vw;
	background: cover repeat fixed;
	color: $white-text;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
}

.navbar {
	padding: 1.25rem 17vw 0 17vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__img {
		width: 20rem;
		height: auto;
	}

	a {
		text-decoration: none;
		color: $text;
		padding-left: 1.5rem;
		font-weight: 300;
		font-size: 1rem;
	}
}

h1 {
	text-align: center;
	font-size: 4.63rem;
	padding-top: 5.50rem;
	font-weight: 700;
	background: -webkit-linear-gradient($text-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.note-form {
	margin: 0.94rem 28.5vw 0 28.5vw;
	padding: 2.50rem 3rem;
	background-color: $field;
	box-shadow: 0px 0px 50px 5px $box-shadow;
	border-radius: 7px;
	font-size: 1.5rem;
	font-weight: 600;
	position: relative;

	&__title-input {
		display: block;
		margin-bottom: 1.25rem;
		margin-top: 0.81rem;
		height: 3.13rem;
		width: 100%;
		border: none;
		border-radius: 7px;
		background-color: $input;
		box-shadow: 0px 0px 50px 0px rgba(22, 30, 45, 1) inset;
		color: $text;
		font-size: 1.13rem;
		font-family: 'Poppins', sans-serif;
		padding: 0 1.25rem 0 1.25rem;
	}

	&__text-input {
		display: block;
		margin-bottom: 1.25rem;
		margin-top: 0.63rem;
		min-height: 12rem;
		width: 100%;
		border-radius: 7px;
		height: fit-content;
		font-size: 1.13rem;
		font-family: 'Poppins', sans-serif;
		padding: 1rem 1.25rem;
		background-color: $input;
		box-shadow: 0px 0px 50px 0px rgba(22, 30, 45, 1) inset;
		resize: vertical;
		border: none;
		color: $text;
		z-index: 10;
		position: relative;
	}

	&__last-line {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__tag-input {
		margin-top: 0.81rem;
		height: 3.13rem;
		width: 45%;
		border-radius: 7px;
		background-color: $input;
		box-shadow: 0px 0px 50px 0px rgba(22, 30, 45, 1) inset;
		border: none;
		color: $text;
		font-size: 1.13rem;
		font-family: 'Poppins', sans-serif;
		padding: 0 1.25rem 0 1.25rem;
	}

	&__submit-btn {
		background: linear-gradient($gradient);
		font-size: 1.44rem;
		color: $input;
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		height: 3.13rem;
		padding: 0.44rem 1.6rem 0.4rem 1.6rem;
		margin-top: 0.81rem;
		border-radius: 7px;
		border: none;
		z-index: 4;
		cursor: pointer;
	}

	&__can-img1 {
		position: absolute;
		opacity: 0.6;
		width: 47.25rem;
		height: auto;
		left: 35rem;
		top: 17rem;
		z-index: 1;
		mix-blend-mode: multiply;
	}

	&__can-img2 {
		position: absolute;
		opacity: 0.8;
		width: 47.25rem;
		height: auto;
		left: 35rem;
		top: 17rem;
		z-index: 0;
	}
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	margin-top: 7.25rem;
	color: $white-text;
	margin-left: 16.5vw;
}

main {
	margin: 0.88rem 16.5vw 5rem 16.5vw;
	padding: 2.50rem 8.13rem 8.13rem 8.13rem;
	background-color: $field;
	box-shadow: 0px 0px 50px 5px $box-shadow;
	border-radius: 7px;
	position: relative;
	z-index: 9;
	min-height: 120vh;

	.searchbar-form {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		&__search-input {
			height: 3.06rem;
			width: 31%;
			background-color: $input;
			border-radius: 7px;
			box-shadow: 0px 0px 50px 0px rgba(22, 30, 45, 1) inset;
			border: none;
			color: $text;
			font-size: 1rem;
			font-family: 'Poppins', sans-serif;
			padding: 0 1.25rem 0 1.25rem;
			margin-right: 1.31rem;
		}
		&__btn-text {
			width: fit-content;
			height: fit-content;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				position: absolute;
				font-size: 1.13rem;
				font-weight: 600;
				color: $white-text;
			}
		}

		&__submit-btn {
			cursor: pointer;
			padding: 0.75rem 3.3rem;
			border: double 0.2rem transparent;
			border-radius: 7px;
			background: linear-gradient($gradient) border-box;
			-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
		}
	}

	.notes-container {
		&__div {
			background-color: $input;
			box-shadow: 0px 0px 50px 0px rgba(22, 30, 45, 1) inset;
			color: $text;
			margin-top: 2.50rem;
			border-radius: 7px;
			padding: 1.88rem 2.50rem;
			scroll-margin: 13rem;

			&__p-title {
				font-size: 1.31rem;
				font-weight: 700;
				color: $title;
				display: inline-block;
			}

			&__delete-btn {
				float: right;
			}

			&__p-text {
			}

			&__p-tag {
				float: right;
			}
		}
	}
}
