@media (max-height: 970px) {
  h1 {
    margin-top: 3rem;
    font-size: 4em;
  }
  .note-form {
    margin: 0.5rem 34vw 0 34vw;
    padding: 2rem 2.5rem;
  }
  .note-form__label {
    font-size: 1.2em;
  }
  .note-form__can-img {
    width: 43rem;
    left: 26vw;
    top: 18rem;
  }
  .your-notes-title {
    margin-top: 9rem;
  }
}

@media (max-width: 1420px) {
  .navbar__img {
    width: 17rem;
    height: auto;
  }
  h1 {
    margin-top: 3.5rem;
  }
  .note-form {
    margin: 0.5rem 28vw 0 28vw;
  }
  .note-form__text-input {
    min-height: 10rem;
  }
  .note-form__last-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .note-form__tag-input {
    height: 2.8rem;
  }
  .note-form__submit-btn {
    margin-left: 0;
  }
  .your-notes-title {
    margin-top: 5.4rem;
    margin-left: 10.2vw;
  }
  main {
    margin: 0.88rem 10vw 5rem 10vw;
  }
  .searchbar-form-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .searchbar-form-container__searchbar-form__search-input {
    width: 20vw;
  }
  .notes-container__back-to-top-btn {
    padding: 1.2rem 0.8rem;
  }
}

@media (max-width: 1600px) and (max-height: 900px) {
  body {
    font-size: 1rem;
  }
  .navbar__img {
    width: 14rem;
    height: auto;
  }
  .navbar__desktop-link {
    margin-left: 1rem;
  }
  .information-window {
    padding: 2rem;
  }
  .contact-window {
    padding: 2rem;
  }
  .contact-window__intro {
    margin: 1.5rem 0;
  }
  .contact-window__text-block {
    margin-bottom: 1.5rem;
  }
  h1 {
    font-size: 3.8em;
    margin-top: 1.5rem;
  }
  .note-form {
    margin: 0.5rem 33vw 0 33vw;
    padding: 1.5rem 2rem;
  }
  .note-form__label {
    font-size: 1.2em;
  }
  .note-form__title-input {
    height: 2.8rem;
    margin-bottom: 1rem;
  }
  .note-form__text-input {
    min-height: 10rem;
    margin-bottom: 1rem;
  }
  .note-form__tag-input {
    height: 2.8rem;
  }
  .note-form__submit-btn {
    height: 2.8rem;
  }
  .note-form__can-img {
    width: 37rem;
    height: auto;
    left: 28vw;
    top: 15rem;
  }
  .your-notes-title {
    font-size: 1.4em;
  }
  main {
    padding: 2rem 2.5rem 2.5rem 2.5rem;
  }
  .notes-container__div {
    margin-top: 2rem;
  }
}

@media (max-width: 1300px) and (max-height: 800px) {
  body {
    font-size: 1rem;
  }
  .navbar__desktop-link {
    margin-left: 1rem;
    font-size: 0.81em;
  }
  .information-window {
    width: 32rem;
    font-size: 0.88rem;
    padding: 1.5rem;
  }
  .contact-window {
    width: 32rem;
    font-size: 0.88rem;
    padding: 1.5rem;
  }
  .contact-window__intro {
    margin: 1rem 0;
  }
  .contact-window__intro img {
    width: 7rem;
    margin-right: 1.5rem;
  }
  .contact-window__text-block {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3em;
    margin-top: 0.5rem;
  }
  .note-form {
    margin: 0.5rem 33vw 0 33vw;
    padding: 1.2rem 1.5rem;
  }
  .note-form__label {
    font-size: 1em;
  }
  .note-form__title-input {
    height: 2.3rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
  }
  .note-form__text-input {
    min-height: 6rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
  }
  .note-form__last-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .note-form__tag-input {
    height: 2.3rem;
    margin-bottom: 0;
    margin-top: 0.3rem;
  }
  .note-form__submit-btn {
    height: 2.3rem;
    margin-left: 1.7rem;
    font-size: 1em;
  }
  .note-form__can-img {
    width: 28rem;
    height: auto;
    left: 29.5vw;
    top: 11rem;
  }
  .your-notes-title {
    font-size: 1.3em;
    margin-left: 18vw;
  }
  main {
    padding: 1.5rem 2rem 2rem 2rem;
    margin: 0 18vw 2rem 18vw;
  }
  .notes-container__div {
    margin-top: 1.5rem;
  }
}

@media (max-width: 1080px) {
  body {
    font-size: 1rem;
    background: url("/Background-02.jpg");
    background: cover repeat fixed;
    background-size: 100vw;
  }
  .information-window {
    width: 30rem;
  }
  .contact-window {
    width: 30rem;
  }
  .contact-window__contact__left {
    margin-right: 2rem;
  }
  .note-form {
    margin: 0.94rem 16.5vw 0 16.3vw;
  }
  .note-form__text-input {
    min-height: 12rem;
  }
  .note-form__can-img {
    width: 35rem;
    height: auto;
    top: 28rem;
  }
  .your-notes-title {
    margin-left: 5vw;
    margin-top: 8rem;
  }
  main {
    margin: 0.88rem 5vw 5rem 5vw;
  }
}

@media (max-width: 800px) {
  .navbar__img {
    width: 15rem;
    height: auto;
  }
  .note-form__can-img {
    top: 28rem;
  }
}
/*# sourceMappingURL=media.css.map */