$input: #141c2b;
$box-shadow: #131925;
$note-shadow: #1319256c;
$field: rgba(32, 44, 66, 0.50);
$note-background: #202c42;
$text: #ffca7e;
$white-text: #ffecd1;
$title: #ff7144;
$tag: #ffc73e;
$gradient: 95deg, #ff7144, #ffc83e;
$text-gradient: 315deg, #ff7144, #ff7144, #ff7144, #ffc83e, #ffc83e, #ffc83e;

@media (min-width: 1800px) {
	h1 {
		margin-top: 4.7rem;
	}

	.note-form {
		&__can-img1 {
			left: 27.5vw;
		}

		&__can-img2 {
			left: 27.5vw;
		}
	}

	.your-notes-title {
		margin-top: 8.5rem;
	}
}

@media (max-width: 1420px) {
	.navbar {
		padding: 1.25rem 3vw 0 3vw;

		&__img {
			width: 17rem;
			height: auto;
		}
	}

	.information-window {
		right: 3vw;
	}

	.contact-window {
		right: 3vw;
	}

	h1 {
		margin-top: 3.5rem;
	}

	.note-form {
		&__text-input {
			min-height: 10rem;
		}

		&__last-line {
			display: flex;
			flex-direction: column;
			align-items: start;
		}

		&__tag-input {
			width: 100%;
			margin-bottom: 1.3rem;
		}

		&__submit-btn {
			margin-left: 0;
		}
	}

	.your-notes-title {
		margin-top: 5.4rem;
		margin-left: 10.2vw;
	}

	main {
		margin: 0.88rem 10vw 5rem 10vw;
	}

	.searchbar-form-container {
		align-items: flex-end;

		&__searchbar-form {
			&__search-input {
				width: 20vw;
			}
		}
	}

	.notes-container {
		&__back-to-top-btn {
			padding: 1.2rem 0.8rem;
		}
	}
}

@media (max-width: 1080px) {
	body {
		font-size: 1rem;
		background: url("/Background-02.jpg");
		background: cover repeat fixed;
		background-size: 100vw;
	}

	.information-window {
		width: 30rem;
	}

	.contact-window {
		width: 30rem;

		&__contact {
			&__left {
				margin-right: 2rem;
			}
		}
	}

	.note-form {
		margin: 0.94rem 16.5vw 0 16.3vw;

		&__can-img1 {
			width: 35rem;
			height: auto;
			top: 28rem;
		}

		&__can-img2 {
			width: 35rem;
			height: auto;
			top: 28rem;
		}
	}

	.your-notes-title {
		margin-left: 5vw;
		margin-top: 8rem;
	}

	main {
		margin: 0.88rem 5vw 5rem 5vw;
	}
}

@media (max-width: 800px) {
	.navbar {
		&__img {
			width: 15rem;
			height: auto;
		}
	}

	.note-form {
		&__can-img1 {
			top: 28rem;
		}

		&__can-img2 {
			top: 28rem;
		}
	}
}
