$input: #141c2b;
$box-shadow: #131925;
$note-shadow: #1319256c;
$field: rgba(32, 44, 66, 0.50);
$note-background: #202c42;
$text: #ffca7e;
$white-text: #ffecd1;
$title: #ff7144;
$tag: #ffc73e;
$gradient: 95deg, #ff7144, #ffc83e;
$text-gradient: 315deg, #ff7144, #ff7144, #ff7144, #ffc83e, #ffc83e, #ffc83e;

@media (max-width: 567px) {
	body {
		background: url("/Background-03.jpg");
		background: cover repeat fixed;
		background-size: 100vw;
	}

	.navbar {
		display: none;
		&__highlighted-link {
			border-bottom: none;
		}
	}

	.information-window {
		top: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		height: auto;
		padding: 4vh 6vw;

		border-radius: 0px;

		h2 {
			font-size: 1.3em;
			color: $title;
		}

		&__block {
			margin-top: 1.5rem;

			h3 {
				font-size: 1em;
				color: $white-text;
			}
		}
	}

	.contact-window {
		top: 0;
		bottom: 0;
		position: fixed;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		height: auto;
		padding: 4vh 8vw 4vh 6vw;
		right: 0;

		&__intro {
			margin: 1.5rem 0;

			img {
				width: 7rem;
				height: auto;
				margin-right: 1rem;
			}
		}
		&__text-block {
			margin-bottom: 1.5rem;
		}

		&__contact {
			flex-direction: column;

			&__right {
				margin-top: 1.5rem;
			}
		}
	}

	.mobile-menu {
		display: flex;

		&__darken {
			height: 100vh;
			width: 100%;
			background-color: rgba(12, 16, 24, 0.4);
			position: fixed;
			z-index: 11;
		}
		&__menu-background {
			height: 100vh;
			width: 60vw;
			background-color: rgba(32, 44, 66, 0.97);
			float: right;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}
		&__menu-links {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 5vh;

			.mobile-link-highlighted {
				font-weight: 600;
			}

			a {
				text-decoration: none;
				color: $text;
				margin-bottom: 0.5rem;
				font-weight: 300;
				font-size: 1em;
			}
		}

		&__logo {
			margin: 7vh 0 0 0;
			width: 100%;
			display: flex;
			justify-content: center;

			img {
				width: 95%;
				height: auto;
			}
		}
	}

	h1 {
		font-size: 15.5vw;
		margin-top: 22vh;
		margin-left: 0.3rem;
	}

	.mobile-hero {
		height: 95vh;
		width: auto;
		position: relative;
		border: 1px solid transparent;

		&__hamburger-menu {
			display: flex;
			justify-content: flex-end;
			padding: 2.5vh 4.5vw;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			z-index: 100;
		}

		&__mobile-buttons {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__create-note {
				background: linear-gradient($gradient);

				width: 73vw;

				font-weight: 700;
				font-family: 'Poppins', sans-serif;
				height: 3rem;
				margin-top: 1.5rem;
				border-radius: 5px;
				border: none;
				z-index: 4;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;

				&:focus {
					transform: scale(1.05);
				}

				a {
					color: $input;
					text-decoration: none;
					font-size: 6vw;
					text-align: center;
				}
			}

			&__your-notes {
				color: $text;
				text-decoration: none;
				border-bottom: 2px solid $text;
				font-weight: 600;
				margin-top: 0.8rem;
				margin-bottom: 0.8rem;
				font-size: 1em;
			}
		}

		&__can-img {
			display: flex;
			position: absolute;
			opacity: 1;
			width: 100vw;
			height: auto;
			z-index: 0;
		}

		.multiply {
			mix-blend-mode: multiply;
			opacity: 0.6;
		}
	}

	.note-form {
		margin: 0;
		height: 95vh;
		width: 100%;
		border-radius: 0px;
		padding: 4vh 4.5vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		box-shadow: none;

		&__label {
			color: $text;
			font-size: 1.13em;
			position: relative;
			z-index: 2;
		}

		&__title-input {
			position: relative;
			z-index: 1;
			height: 2.4rem;
			margin-top: 1vh;
			margin-bottom: 2vh;
		}

		&__text-input {
			position: relative;
			z-index: 1;
			min-height: 40vh;
			margin-top: 1vh;
			margin-bottom: 2vh;
		}

		&__tag-input {
			position: relative;
			z-index: 1;
			height: 2.4rem;
			margin-top: 1vh;
			margin-bottom: 2vh;
		}

		&__submit-btn {
			font-size: 6vw;
			width: 100%;
			padding: 0;
			margin-top: 2vh;
		}

		&__can-img {
			display: none;
		}
	}

	.your-notes-title {
		margin-top: 6vh;
		color: $text;
	}

	main {
		margin: 1vh 0;
		padding: 2.5vh 4.5vw 5vh 4.5vw;
		border-radius: 0px;
		box-shadow: none;
	}

	.searchbar-form-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;

		&__show-all-btn {
			padding: 0;
			background: none;
			border: none;
			text-decoration: underline;
		}

		&__searchbar-form {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			&__label {
				margin-right: 1.5rem;
			}

			&__search-input {
				width: 100%;
				height: 2.4rem;
				margin: 1vh 0 2vh 0;
			}
		}
	}

	.notes-container {
		&__div {
			margin-top: 2vh;
			padding: 3vh 6vw;
		}
		&__back-to-top-btn {
			display: none;
		}
	}

	.footer {
		margin-top: 7vh;
	}
}

@media (max-width: 330px) {
	.mobile-hero {
		&__mobile-buttons {
			&__your-notes {
				margin-bottom: 0.4rem;
			}
		}
	}

	.note-form {
		&__text-input {
			min-height: 45vh;
		}

		&__label {
			font-size: 1em;
		}

		&__title-input {
			margin-top: 1vh;
			margin-bottom: 2vh;
		}

		&__text-input {
			margin-top: 1vh;
			margin-bottom: 2vh;
		}

		&__tag-input {
			margin-top: 1vh;
			margin-bottom: 2vh;
		}
	}
}
